mixin css
    link(href="https://fonts.googleapis.com/css?family=Arbutus+Slab|Share+Tech" rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/dash/menu.css')
    link(rel='stylesheet', href='/stylesheets/dash/datatables.min.css')
    link(rel='stylesheet', href='/stylesheets/jquery.highlighttextarea.min.css')