mixin user_scripts
    script(src='/javascripts/signin.js')
    script(src='/javascripts/dash/vlists.js')
    script(src='/javascripts/toolbar/toolbar.js')
    
    //config
    script(src='/javascripts/dash/vconfig.js')
    script(src='/javascripts/dash/transmission.js')
    script(src='/javascripts/dash/nav.js')
    script(src='/javascripts/dash/table.js')
    script(src='/javascripts/dash/events.js')
    