mixin vendor_scripts
    script(src='https://apis.google.com/js/platform.js' async defer)
    script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js')
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js")
    //menu
    script(src='/javascripts/vendor/transit.min.js')
    script(src='/javascripts/vendor/autosize.min.js')
    script(src='/javascripts/vendor/jquery.highlighttextarea.min.js')
    script(src='/javascripts/vendor/datatables/datatables.min.js')
    script(src='/javascripts/vendor/datatables/celledit.js')
